    <nav>
        <a href="{{ '/' | relative_url }}" class="logo">
            <img src="{{ "/assets/img/rainshadow_logo.svg" | relative_url }}" alt="Rain Shadow logo">
rain<span>shadow</span>.tech
        </a>
        <div class="nav-links">
            <a href="{{ '/#services' | relative_url }}">Services</a>
            <a href="{{ '/#approach' | relative_url }}">Approach</a>
            <a href="{{ '/#about' | relative_url }}">About</a>
            <a href="{{ '/blog/' | relative_url }}">Blog</a>
            <a href="{{ '/#contact' | relative_url }}" class="nav-cta">Get in touch</a>
        </div>
    </nav>
